
#landing{
    background-color: black;
    /*font-family: proxima-nova,sans-serif;*/
    font-family: 'Mulish', sans-serif;
}

.backgroundw{
    height: 100vh;
    background-image: url(../img/cakelanding.jpg);
    background-size: 95% ;
    background-repeat: no-repeat;
    background-position: center ;
    filter: blur(3px);
    transition: 1s;
}

.box{
    position: absolute;
    top: 60%;
    left: 20%;
    right: 20%;
    text-align: center;
    background-color: rgba(255, 74, 74, 0.8);
    
}

.wellcome{
    margin: 30px;
    font-size: 3em;
    color: rgb(246, 246, 246);
}

.button-continue{
    font-size: 1.5rem;
    width: 50%;
    margin-bottom: 15px;
    list-style: none;
    background-color: transparent;
    border-color: rgba(120, 120, 120, 0.7);
    border-style: solid;
    transition: 0.6s;
    text-decoration:  none;
    font-weight: bold;
    letter-spacing: 10px;
    color: #ffffff;
    transition: 0.6s;
}


.backgroundw:hover{
    filter: blur(0);
    transition: 1s ;
}

.button-continue:hover{
    background: rgb(255,255,255);
    background-color: #ffffff; 
    border-style: solid;
    color: rgba(255, 74, 74);
    transition: 0.6s;
}

@media (max-width: 850px){
    #landing{
        overflow: hidden;
    }

    .backgroundw{
        background-size: cover ;
    }

    .bos{
        width: 70%;
        text-align: center;
        left: 15%;
    
    }
    
    .wellcome{
        font-size: 1.5em;
        margin: 10px;
    }

    .button-continue{
        font-size: 0.8rem;
        width: 50%;
        margin-bottom: 15px;
        letter-spacing: 5px;
    }
    
}