
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.img_qr{
    width: 10rem;
    height: 10rem;
}
.bg_card_whatsapp{
    background-color: #00a884
    ;
}
.bg_card_facebook{
    background-color: #0572e6

    ;
}
.bg_card_instagram{
    background: linear-gradient( #d300c5ff, #ffb000ff);
    ;
}
.card_title_1{
    text-shadow: rgb(41, 41, 41) 0.1em 0.1em 0.2em;
}
.p_link{
    text-decoration:none;
}
.text-justify{
    text-align: justify ;
}

.card:hover {
    transform: scale(1.07);
    transition: transform 0.3s ease-in-out;
}
