* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: #ffffff;
   color: #000;
   margin: 0;
   overflow-x: hidden;
   display: flex;
   flex-direction: column; /* Organiza los carruseles uno debajo del otro */
   align-items: center;
   min-height: 100vh;/* Oculta la barra de desplazamiento horizontal */
}

.container {
   max-width: 1150px;
   padding: 10px 20px;
   
   /* Adjust as needed */
}

.card{
   border-top-left-radius: 50px;
   border-top-right-radius: 50px;
}

.container .swiper-container {
   width: 100%;
}

.container .swiper-slide img {
   display: block;
   width: 100%;
   height: auto;
   border-top-left-radius: 50px;
   border-top-right-radius: 50px;
}

.container .swiper-slide .card-description {
   padding: 1rem 1rem;
}

.container .swiper-slide .card-title,
.container .swiper-slide .card-text {
   margin-bottom: 0.5rem;
}

.container .swiper-slide .card-link {
   text-align: center;
}

.container .swiper-slide .card-link a {
   text-decoration: none;
   color: #1d6ce2;
}

.swiper-button-next,
.swiper-button-prev {
   display: none; /* Oculta los botones de navegación */
}

@media (max-width: 768px) {
   /* Adjust styles for smaller screens */
   .container {
       padding: 10px;
   }
   
}
